* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: white;
}
.my-container {
  max-width: 100vw;
  min-height: 100%;
  background-color: white;
  padding-bottom: 20px;
}
.my-table {
  background-color: rgb(255, 255, 255);
  overflow-x: auto;
  width: 95%;
  margin: 30px auto;
  padding-bottom: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.my-container h2 {
  padding: 20px 0px;
  padding-left: 20px;
  width: 100%;
  background-color: rgb(61, 61, 255);
  color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#add-user-btn {
  margin: 2.5% 0;
  padding-left: 20px;
}
.my-form {
  background-color: white;
  width: 50%;
  padding: 20px;
  margin: 40px auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.my-form .label {
  margin: 30px auto;
  width: 100%;
}

@media screen and (max-width: 1000px) {
  .my-form {
    width: 90%;
  }
  .my-form .label {
    margin: 30px auto;
  }
} /*end of media query */

.my-table th {
  padding: 10px;
}
.my-table td {
  padding: 7px;
  text-align: center;
}
.footer {
  width: 100%;
  background-color: rgb(61, 61, 255);
  text-align: center;
  padding: 15px;
  margin-top: 20px;
  color: rgb(255, 255, 255);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.my-btn {
  min-width: 20%;
}
